document.getElementById('result').innerHTML = `
    <table class="table mt-3">
        <tbody>
            <%== '<tr><td colspan="2">НЕТ ПОСЛЕДОВАТЕЛЬНОСТЕЙ</td></tr>' if @count==0 %>
            <tr>
                <td>Всего:</td>
                <td><%= @count %></td>
            </tr>
            <% @result.each_with_index do |numbers_list, i| %>
                <tr <%= 'class=fw-bold' if i == 0 %>>
                    <td><%= i+1 %></td>
                    <td><%= numbers_list.join '->' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
`;